---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    {% include analytics-providers/google-analytics-4.html %}

  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}
    
    <!-- Introductory Blurb for Blog Section -->
    {% if page.title == "Blog" %}
    <div class="blog-intro">
      <h2>Blog Posts</h2>
      <p>Welcome to my blog! Here, I share insights, tutorials, and real-world applications of data science and machine learning, along with lessons learned from personal projects and industry experience. Explore posts that cover topics from batch processing optimizations to hands-on PySpark sessions and beyond.</p>
    </div>
    {% endif %}

    <!-- Main Content -->    

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
